@model IEnumerable<Lab5.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <!--TABLE HEADER-->
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Views</th>
        </tr>
    </thead>
    <tbody>

<!--TABLE ROWS FOR EACH ITEM-->
@foreach (var item in Model .OrderBy(e => e.Role)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
